@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Noto+Sans+SC:wght@100;300&display=swap');

* {
    font-family: 'Noto Sans SC', sans-serif;
}

.cuerpo {
    background-color:rgb(241, 171, 179);
    color:black;
}

.field{
    text-align: center;
    }
    

    
    