{%extends 'base.html'%}

{%block title%} Nuevo Registro {%endblock%}

{%block content%}
<a href="../">Volver a Resumen</a>
<h1>Modificar registro</h1>
Modifique los datos del ingreso seleccionado:
<br/>

<form action="modificaIngreso", method="POST"></br>
        <input type="number" name='id' value="{{ingreso['id']}}" hidden>
    <div class="field">
        <label for='fecha'>Fecha:</label>
        <input type="date" name='fecha' value="{{ingreso['fecha']}}">
    </div>
    <div class="field">
        <label for='concepto'>Concepto:</label>
        <input type="text" name='concepto' value="{{ingreso['concepto']}}">
    </div>
    <div class="field">
        <label for="cantidad">Importe:</label>
        <input type="number" name="cantidad" step="0.01" value="{{ingreso['cantidad']}}">
    </div>
        <div class="field">
        <input type="submit" value="Envía">
    </div>
</form> 

{% endblock%}